@model ImageServiceWeb.Models.ConfigInfo

@{
    ViewBag.Title = "ConfigView";
}

<h2>ConfigView</h2>
<div>
    <table>
        <tr>
            <td>
                Source name:
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                Log name:
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                Output directory:
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                Thumbnail size:
            </td>
            <td></td>
        </tr>
    </table>
    @foreach (var item in Model.Handlers)
    {
        <a>
            @Html.DisplayFor(modelItem => item.DirPath)
        </a>
    }
</div>