@model ImageServiceWeb.Models.Photo

@{
    ViewBag.Title = "DeletePhotoView";
}

<div>
    <h2>DeletePhoto</h2>
    <div>
        <p>@Url.Action("PhotosView", "ImageService") @Html.ActionLink("DeletePhoto", "ImageService", new { photoPath = Model.PhotoPath })</p>
    </div>
</div>