@model ImageServiceWeb.Models.Photo

@{
    ViewBag.Title = "DeletePhotoView";
}

<div>
    <h2>DeletePhoto</h2>
    <div>
        @{ if (Model != null)
            {
                <p>@Url.Action("No", "PhotosView") @Html.ActionLink("Yes", "DeletePhoto", new { photoPath = Model.PhotoPath })</p>
            }
        }
    </div>
</div>