@model string

@{
    ViewBag.Title = "DeletePhotoView";
}

<div>
    <h2>DeletePhoto</h2>
    <div>
        <p><input type="button" value="No" onclick="location.href='@Url.Action("PhotosView", "ImageService")'" /> <input type="button" value="Delete" onclick="location.href='@Html.ActionLink("DeletePhoto", "ImageService", new { photoPath = Model })'" /></p>
    </div>
</div>