@model ImageServiceWeb.Models.Photo

@{
    ViewBag.Title = "DeletePhotoView";
}

<div style="height:300px">
    <h2>DeletePhoto</h2>
    <div style="text-align:center">
        @{ if (Model != null)
            {
                <h4 style="color:red; margin-top:70px">Are you sure you want to delete this photo?</h4>
                <p>Name: @Model.PhotoName</p>
                <p>Date created: @Model.Month/@Model.Year</p>
                <p>@Html.ActionLink("No", "PhotosView", new { }, new { @class = "btn btn-primary" }) @Html.ActionLink("Yes", "DeletePhoto", new { photoPath = Model.PhotoPath }, new { @class = "btn btn-primary" })</p>
            }
        }
    </div>
</div>