
@{
    ViewBag.Title = "ImageWebView";
}

<h2>Image Web</h2>
<div>
    <table>
        <tr>
            <td>Service Status: </td>
            <td><p type="text" id="statusId" size="5"></p></td>
        </tr>
        <tr>
            <td>Total Images In Cloud: </td>
            <td><p type="text" id="imageNumberId" size="5"></p></td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <p>Students Info:</p>
        </tr>
        <tr>
            <th>
                FirstName
            <th>
                LastName
            <th>
                ID
            <th></th>
        </tr>
        <tr>
            <td> Shimon <td> Cohen <td> 315383133 <td></td>
        </tr>
        <tr>
            <td> Nadav <td> Spitzer <td> 302228275 <td></td>
        </tr>
    </table>
</div>
