@model IEnumerable<ImageServiceWeb.Models.Logs>
@{
    ViewBag.Title = "LogsView";
}

<table class="table">
    <tr>
        <td>
            <p type="text" id="Log" size="5">
                @Html.DisplayNameFor(model => model.LogsInfo)
            </p>
        </td>
    </tr>
</table>

<h2>LogsView</h2>

