@model IEnumerable<ImageServiceWeb.Models.Logs>
@{
    ViewBag.Title = "LogsView";
}

<h2>LogsView</h2>

<table>
    <tr>
        @{ 
            foreach (var log in Model.LogsInfo) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => log)
                    </td>
                </tr>
            }
        }
    </tr>
</table>