@model IEnumerable<ImageServiceWeb.Models.Logs>

@{
    ViewBag.Title = "LogsView";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <h2>LogsView</h2>

    <link href="~/Css/logs-view.css" rel="stylesheet" type="text/css" />

    <div>
        <p> Name: </p>
        <input type="text" id="FilterID" size="5" />
        <input type="submit" id="btnFilter" value="Filter" class="btn btn-default" />
        <ul id="Logs"></ul>
    </div>

    <div>
        <table class="table">
            <tr>
                <th>
                    <p type="text" id="sourceName" size="5">
                        Status
                    </p>
                </th>
                <th>
                    <p type="text" id="sourceName" size="5">
                        Message
                    </p>
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GetStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GetMessage)
                    </td>
                </tr>
            }
        </table>
    </div>

    <script>
    $("#btnFilter").click(function () {
        var input = {
            filter:$("#FilterID").val()
        };
         $.post("@Url.Action("SetFilter")", input, function (data) {
            $("#Logs").append("<li>" + data.Status + " | " + data.Message + "</li>");
        }, "json");
    });
    </script>
}
