@model ImageServiceWeb.Models.PhotoList

@{
    ViewBag.Title = "PhotosView";
    var i = 0;
}

<h2>PhotosView</h2>

<div>
    <table class="table">
        <tr>
            <th>
                <p type="text" id="sourceName" size="5">
                    Yesar
                </p>
            </th>
            <th>
                <p type="text" id="sourceName" size="5">
                    Month
                </p>
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.GetPhotos())
        {
            @{i++}
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Month)
                </td>
                <td><img id="@{i} " src="http://localhost/C:/Users/Larry/Desktop/test/to/Thumbnails/2018/6/download.jpg" style="background-size:cover; height:130px" width="130" height="130" alt="" /></td>
            </tr>
        }
    </table>
    <img src="C:\Users\Larry\Desktop\test\to\Thumbnails\2018\6\download.jpg" />
</div>

<script>
    for (var i; i < Model.GetPhotos().length; i++) {
        document.getElementById(i).src = "C:\Users\Larry\Desktop\test\to\Thumbnails\2018\6\download.jpg";
    }
</script>