@model ImageServiceWeb.Models.Photo

@{
    ViewBag.Title = "PhotoView";
}

<head>
    <link href="~/Css/photo-view.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>PhotoView</h2>

    <div class="col-xs-18 col-sm-6 col-md-3" id="mainDIV" style="width:100%; text-align:center">
        <div>
            @{
                if (Model != null)
                {
                    <img src="~/Photos/to/Thumbnails/@Model.Year/@Model.Month/@Model.PhotoName">
                    <div class="caption">
                        <h4>Thumbnail label</h4>
                        <p style="text-align:match-parent">Creation date:</p>
                        <p>Year: @Model.Year, Month: @Model.Month</p>
                        <p>@Html.ActionLink("Delete", "DeletePhotoView", new { photoPath = Model.PhotoPath })</p>
                    </div>
                }
            }
        </div>
    </div>
</body>